<!DOCTYPE html>
<html xmlns:jx="jx" xmlns:mx="mx" xmlns:local="*">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>tmpl.js - Test page</title>
		
		
		<!--script type="text/javascript" src="prism.js"></script>
		<link href='prism.css' rel='stylesheet' type='text/css'>
		
		<script type="text/javascript" src="iscroll-lite.js"></script>
		
		<link href='themes/icomoon/style.css' rel='stylesheet' type='text/css'>
		<link href='minidoc.css' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		
		<script type="text/javascript" src="marked.js"></script-->
		
		<script type="text/javascript" src="../src/tmpl.js"></script>
		<script type="text/javascript" src="../src/tmpl.rules.x-tmpl-jresig.js"></script>
		<script type="text/javascript" src="../src/tmpl.rules.x-tmpl-jstag.js"></script>
		<script type="text/javascript" src="../src/tmpl.rules.x-php-like.js"></script>
		<script type="text/javascript" src="../src/tmpl.rules.x-tmpl-tjs.js"></script>
		<script type="text/javascript" src="../src/tmpl.active.js"></script>
		<script type="text/javascript" src="../src/tmpl.rules.x-tmpl-brackets.js"></script>
		<script type="text/javascript">
		
		// lang object
		var globalLang = {};
		globalLang['Name'] = {EN: "Name", FR: "Nom"};
		//<:L("Name")/>


		var myObj = {
			hello: "world",
			stats:{
				list: 4
			},
			aze:{
				list: [
					{name:"aze1", qsd:"qsd1"},
					{name:"aze2", qsd:"qsd2"},
					{name:"aze3", qsd:"qsd3"},
					{name:"aze4", qsd:"qsd4"}
				]
			}
		};
		var myObj2 = {
			stats:{
				list: 10
			},
			aze:{
				list: [
					{name:"Title 1", qsd:"QSD 1"},
					{name:"Title 2", qsd:"QSD 2"},
					{name:"Title 3", qsd:"QSD 3"},
					{name:"Title 4", qsd:"QSD 4"},
					{name:"Title 5", qsd:"QSD 5"},
					{name:"Title 6", qsd:"QSD 6"},
					{name:"Title 7", qsd:"QSD 7"},
					{name:"Title 8", qsd:"QSD 8"},
					{name:"Title 9", qsd:"QSD 9"},
					{name:"Title 10", qsd:"QSD 10"}
				]
			}
		};



		function format(txt)
		{
			return "["+txt+"]";
		}
		function $(sel)
		{
			return document.querySelectorAll(sel);
		}
		/*
		var r = new marked.Renderer(),
			mdOptions = {
				gfm: true,
				tables: true,
				breaks: true,
				smartypants: true,
				sanitize: false
				
			};
		r.code = function(code, lang)
		{
			
			if (!lang || !Prism.languages[lang])
			{
				return '<pre><code>'
					+ escape(code, true)
					+ '\n</code></pre>';
			}
			console.log('code', code, lang);
			
			return '<pre><code class="language-' + lang + '">'
				+ code.replace(/</g, '&lt;')
					  .replace(/>/g, '&gt;')
				+ '\n</code></pre>\n';
		};

// function(code, lang)
// 		{
// 			if(Prism.languages[lang])
// 			{
				
// 				code = '<pre class="line-numbers language-'+lang+'"><code>'+escape(code, true)+'</code></pre>';
// 				console.log(arguments, code);
// 				return code;
// 			}
// 			//return code;
// 		}
		marked.setOptions({
			gfm: true,
			tables: true,
			breaks: false,
			smartypants: false,
			renderer: r
		});
		
		function doneParsing(err, content)
		{
			$('page')[0].innerHTML = content;
			Prism.highlightAll();
			
		}
		*/
		var sourceTree = [
			{
				name: "Main",
				list: ["coucou","monde"]
			},
			{
				name: "Second",
				list: ["hello","world","people"]
			},
			{
				name: "Third",
				list: ["none"]
			}
		]
		</script>

		<style>
		.Item {
			background: lightgrey;
		}
		.Item span {
			color: #f60;
		}
		
		</style>
	</head>
	<body>
		
		<div>
			{ name: <input name="name" type="text"/>, qd: <input name="qsd" type="text"/> } <button onClick="var obj = {name: $('[name=name]')[0].value, qsd: $('[name=qsd]')[0].value}; console.log(obj); $('#myNestedTemplate')[0].repeat([obj]);">RENDER</button>
			<script id="myNestedTemplate" type="text/x-tmpl-jresig" appends>
				<div class="Item">
					Name : <span><%=name%></span>
					Qsd #ID : <span><%=qsd%></span>
				</div>
			</script>
		</div>
		
		<h1>jresig <%= %> style</h1>
	
		<script id="myTemplate" type="text/x-tmpl-jresig" data="myObj">
			<% var created = {
				state: true
			} %>
			<% if(typeof hello != "undefined"){ %>
				<% if(hello=="world"){o+="***";} %>
				coucou <%=format(hello)%>
			<%}else{%>
				Goodbye! <%if(typeof created != "undefined"){%><%=created.state%><%}%>
			<%}%>
			<% with( stats ) { %>
				Number : <span><%=list%></span>(<% for(i=0; i<list; i++){%> <%=i%><%}%>)
			<%}%>
			<% i = 0; %>
			<% for(;i<stats.list; i++){ %> <%=i%><%}%>
			<%for(i=0,item; item=aze.list[i++];){%> <%=i%><%}%>
			<%for(var n in aze.list){var item = aze.list[n]; %>
				<%with (item){%>
					<%=myNestedTemplate(item)%>
				<%}%>
			<%}%>
		</script>
		
		<h1>&lt;:js.tag/&gt; style</h1>
		
		<script id="L" type="text/x-tmpl-jstag">
			<with globalLang[data]>
				<EN?> <span class="en-EN"> <:EN/> </span> </>
				<FR?> <span class="fr-FR"> <:FR/> </span> </>
				<SP?> <span class="sp-SP"> <:SP/> </span> </>
				<DE?> <span class="de-DE"> <:DE/> </span> </>
			</>
		</script>

		<script id="myNestedTemplate2" type="text/x-tmpl-jstag">
			<div class="Item">
				<:L('Name')/> : <span><:name/></span>
				Qsd #ID : <span><:qsd/></span>
				<:img('img/icon.png')/>
				<img src="img/icon.png"/>
			</div>
		</script>

		<script id="img" type="text/x-tmpl-jstag">
			<img src="<:data/>"/>
		</script>

		<script id="myTemplate2" type="text/x-tmpl-jstag" data="myObj">
			<js this.aze=42;>
			<var created = {
				state: true
			}>
			<div class="greetings">
				<hello?>
					<js if(hello=='world'){o+='***';}>
					coucou <:format(hello)/>
				<else>
					Goodbye! <created?><:created.state/></>
				</>
			</div>
			<with stats>
				Number : <span><:list/></span>(<for i=0; i<list; i++> <:i/></>)
			</with>
			<js i = 0>
			<js for(;i<stats.list; i++){> <:i/></>
			<for i=0,item; item=aze.list[i++];> <:i/></for>
			<foreach item in aze.list>
				<with item>
					<:myNestedTemplate2(item)/>
				</with>
			</foreach>
		</script>
		
		
		
		<menu>
			<script id="testMenu1" type="text/x-tmpl-jstag" data="sourceTree">
				<foreach menu in data>
					<ul>
						<span><:menu.name/></span>
						<foreach item in menu.list>
								<li><:item/></li>
						</>
					</ul>
				</>
			</script>
		</menu>
		
		<h1>PHP like style</h1>
		
		<menu>
			<script id="testMenu2" type="text/x-php-like" data="sourceTree">
				<?for(var i = 0, menu; menu = data[i++];) { ?>
					<ul>
						<span><?=menu.name?></span>
						<?for(var j = 0, item; item = menu.list[j++];) { ?>
								<li><?=item?></li>
						<? } ?>
					</ul>
				<? } ?>
			</script>
		</menu>
		
		<h1>t.js {{= }} style</h1>
		
		<menu>
			<script id="testMenu3" type="text/x-tmpl-tjs" data="sourceTree">
				{{@data}}
					{{{var menu = _val}}}
					<ul>
						<span>{{=menu.name}}</span>
						{{@menu.list}}
								<li>{{=_val}}</li>
						{{/@menu.list}}
					</ul>
				{{/@data}}
			</script>
		</menu>
		
	</body>
</html>